<template name="filters">
	<div class="col-xs-6 text-left dropdown">
		<a href="#" data-toggle="dropdown">Filter: {{ filter }}</a>
		<ul class="dropdown-menu" role="menu" arial-labelledby="dLabel">
			<li><a href="#">Uncompleted</a></li>
			<li><a href="#">Not in my lists</a></li>
			<li><a href="#">Due today</a></li>
			<li><a href="#">Due soon</a></li>
			<li><a href="#">Overdue</a></li>
			<li><a href="#">Repeating</a></li>
			<li><a href="#">Completed</a></li>
			<li><a href="#">Everything</a></li>
		</ul>
	</div>
</template>
