<template name="sidebarRight">
  <div class="col-lg-3 visible-lg">
    <div class="well" style="padding: 0px;">
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
        <li><a href="#chart" data-toggle="tab">Chart</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active in" id="activity" style="padding: 19px 19px 19px 19px;">
          <div class="text-center">
            <b class="text-muted">No recent activity</b>
          </div>
        </div>
        <div class="tab-pane fade" id="chart" style="padding: 19px 19px 19px 19px;">
          <div class="text-center">
            <img src="chart.svg" alt="Sample recent activity chart">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
