<template name="todoItem">
  <div class="taskListItem">
    <a href="#" class="completeBox"></a>
    {{#if completed}}
    <div class="taskRowTop text-line">{{body}}</div>
    {{else}}
    <div class="taskRowTop">{{body}}</div>
    {{/if}}
    <small class="taskRowBottom">
        {{#if overDue dateDue}}
        <span class="dueDate text-danger">{{formatDate dateDue}}</span>
        {{else}}
        <span class="dueDate">{{formatDate dateDue}}</span>
        {{/if}} | <span class="taskItemList">
        {{list}}
      </span>
    </small>
  </div>
</template>