<template name="addList">
    <div id="addListModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a List</h4>
                    <small>Use lists to organize projects, goals, and adventures!</small>
                </div>
                <div class="modal-body">
                    <form id="addList" class="form-horizontal">
                        <div class="form-group">
                            <label for="listName" class="col-lg-4 control-label">List name</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="listName" placeholder="List name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="listDescription" class="col-lg-4 control-label">Description</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="listDescription" placeholder="Description">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="addListButton" type="button" class="btn btn-primary">Create new list</button>
                </div>
            </div>
        </div>
    </div>
</template>
