<head>
	<meta charset="UTF-8">
	<title>Astroid</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Stylesheets -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
  <!-- Scripts -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
</head>
<body>
{{>navbar}}
<div class="container">
<div class="row">
	<div class="col-lg-9">
		<div class="row">
			{{>sidebarLeft}}
			<div class="col-xs-12 col-sm-8 col-lg-8">
				<div class="well">
					<h3 class="tasksHeading">My Tasks</h3>
					{{>newTaskForm}}
					<div class="row" id="filters">
					<hr>
						{{>filters}}
						{{>sortBy}}
					</div>
					<div class="taskList">
						<div class="taskListItem">
							<a href="#" class="completeBox"></a>
							<div class="taskRowTop">Lorem ipsum dolor sit</div>
							<small class="taskRowBottom">
								<span class="dueDate text-danger">4 July 2012</span> | <span class="taskItemList">Home</span>
							</small>
						</div>
						<div class="taskListItem">
							<a href="#" class="completeBox" style="border: 3px solid #a0222a;"></a>
							<div class="taskRowTop">Dolor, provident odit pariatur</div>
							<small class="taskRowBottom">
								<span class="dueDate">21 Aug 2012</span> | <span class="taskItemList">Programming</span>
							</small>
						</div>
						<div class="taskListItem">
							<a href="#" class="completeBox" style="border: 3px solid #fbb03b;"></a>
							<div class="taskRowTop">Aperiam, eos, mollitia! Iure</div>
							<small class="taskRowBottom">
								<span class="dueDate">16 Oct 2012</span> | <span class="taskItemList">Personal</span>
							</small>
						</div>
						<div class="taskListItem">
							<a href="#" class="completeBox"></a>
							<div class="taskRowTop">Quae porro accusamus molestias</div>
							<small class="taskRowBottom">
								<span class="dueDate">16 Oct 2012</span> | <span class="taskItemList">Programming</span>
							</small>
						</div>
						<div class="taskListItem">
							<a href="#" class="completeBox"></a>
							<div class="taskRowTop">Sed, saepe qui a</div>
							<small class="taskRowBottom">
								<span class="dueDate">28 Nov 2012</span> | <span class="taskItemList">Programming</span>
							</small>
						</div>
						{{>todos}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{>sidebarRight}}
</div>
</div>
{{>modals}}
</body>

<template name="lists">
{{#each list}}
<a href="#" class="list-group-item"><span class="badge">{{numTodos}}</span>{{name}}</a>
{{/each}}
</template>

<template name="people">
{{#each friend}}
<a href="#" class="list-group-item"><span class="badge">{{numTodos}}</span>{{name}}</a>
{{/each}}
</template>
