<head>
	<meta charset="UTF-8">
	<title>Astroid</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Stylesheets -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
{{>navbar}}
<div class="container">
<div class="row">
	<div class="col-lg-9">
		<div class="row">
			{{>sidebarLeft}}
			<div class="col-xs-12 col-sm-8 col-lg-8">
				<div class="well">
					<h3 class="tasksHeading">My Tasks</h3>
					{{>newTaskForm}}
					<div class="row" id="filters">
					<hr>
						{{>filters}}
						{{>sortBy}}
					</div>
          <div class="taskList">
						{{>todos}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{>sidebarRight}}
</div>
</div>
{{>modals}}
</body>

<template name="lists">
{{#each list}}
<a href="#" class="list-group-item"><span class="badge">{{numTodos}}</span>{{name}}</a>
{{/each}}
</template>

<template name="people">
{{#each friend}}
<a href="#" class="list-group-item"><span class="badge">{{numTodos}}</span>{{name}}</a>
{{/each}}
</template>
